*{
    padding: 0;
    border: 0;
    margin: 0;
    font-family: sans-serif;
}
header{
    width: 100%;
    height: 80px;
    background-color: #1d1d1d;
    color: #f1f1f1;
}
header .container{
    width: 80%;
    height: 100%;
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container ul{
    list-style: none;
}
.ul-curiosidade-novidade{
    width: 25%;
    display: flex;
    justify-content: space-between ;
}
.ul-login{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ul-login li{
    display: flex;
    align-items: center;
}
.ul-login li a{
    display: flex;
    align-items: center;
}
.ul-login li a img{
    display: flex;
    align-items: center;
    width: 20px;
}
ul li a{
    text-decoration: none;
    color: #f1f1f1;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
header .container a{
    position: relative;
}
  
header .container a::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 4px;
      background-color: #ff0000;
      bottom: 0;
      left: 0;
      transform-origin: center;
      transform: scaleX(0);
      transition: transform .3s ease-in-out;
    }
  
header .container a:hover::before {
    transform-origin: center;
    transform: scaleX(1);
    background-color: #0000ff;
  }

.banner-principal{
    width: 100%;
    height: 500px;
    background-image: url(../Assets/banner-azul-vermelho-ldp.svg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-banner{
        width: 60%;
        height: 90%;
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 2px 5px 25px 1px #131313;
        display: flex;
        align-items: center;
        justify-content: center;
}

.conteudo-container{
    width: 40%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.conteudo-container button{
    width: 60%;
    height: 20%;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 2px 3px 5px 1px #1d1d1d;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.conteudo-container button::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, rgba(17, 0, 238, 0.85) 0.01%, rgba(17, 0, 238, 0.85) 19.78%, rgba(17, 0, 238, 0.85) 45.8%, rgba(255, 255, 255, 0.00) 99.92%);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .6s ease-out;
}

.conteudo-container button:hover::before{
    transform-origin: left;
    transform: scaleX(1);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, rgba(238, 0, 0, 0.85) 0.01%, rgba(238, 0, 0, 0.85) 19.78%, rgba(238, 0, 0, 0.85) 45.8%, rgba(255, 255, 255, 0.00) 99.92%);
}
.conteudo-container button:hover{
    transition: all .7s ease-in-out;
}


.conteudo-container h1{
    font-size: 45px;
}
.img-container{
    width: 40%;
    height: 60%;
    background-image: url(../Assets/svg3spider-man-banner-principal.svg);
    background-size: cover;
}

.pre-time-line{
    width: 100%;
    height: 200px;
    background-color: #131313;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.pre-time-line h2{
    text-align: center;
    font-size: 35px;
    color: #f1f1f1;
}
.pre-time-line button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(../Assets/botao-timeline-azul.svg);
    background-size: cover;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.pre-time-line button:hover{
    transition: ease-in-out .7s;
    background-image: url(../Assets/botao-timeline-vermelho.svg);
}