*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
}
body{
    background-color: #131313;
    overflow: hidden;
}
.container-principal{
    width: 100%;
    height: 100vh;
    background-color: #131313;
    display: flex;
    flex-direction: row;
}
.container-esquerda{
    width: 45%;
    height: 100%;
}
.container-esquerda img{
    width: 100%;
    height: 100%;
    border-radius: 30px 0px 30px 0px;
}
.container-direita{
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-form{
    width: 50%;
    height: 90%;
    display: flex;
    align-items: baseline;
    flex-direction: column;
    justify-content: space-evenly;
}
.container-form form{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.container-form h1{
    color: #FF5454;
    font-weight: bold;
    font-size: 35px;
}
.container-form label{
    font-size: 20px;
    margin: 0 2%;
    color: #a3a3a3;
    font-weight: lighter;
}
.estilo-inputs{
    background-color: #131313;
    outline: none;
    border-bottom: 2px solid #FF5454;
    padding: 0 2%;
    color: #a3a3a3;
    font-size: 18px;
}
.container-btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-cadastrar{
    width: 65%;
    height: 40px;
    border-radius: 15px;
    border: 1px solid #FF5454;
    background-color: #131313;
    color: #FF5454;
    font-weight: bold;
}
.btn-cadastrar:hover{
    border: 1px solid #A0A0FF;
    transition: all .7s;
    color: #A0A0FF;
    cursor: pointer;
}
form p{
    color: #a3a3a3;
    text-align: center;
}
form p a{
    color: #A0A0FF;
}